node_modules
notes
mysql-scripts
yarn-error.log
npm-debug.log
mySql.Dockerfile
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
LICENSE
.vscode
.ts-node*
coverage
_docker
.env
__mocks__
