export STACK_NAME=a4bird-memories-server-dev-test
export AWS_CDK_DEPLOY_ACCOUNT=
export AWS_CDK_DEPLOY_REGION=ap-southeast-2
export AWS_TAG_PROJECT=memories
export AWS_TAG_REPOSITORY=memories-server
export AWS_CDK_STACK_ID=memory-server-
export AWS_CDK_VPCE_STACK_ID=memory-server-vpce-
export AWS_CERTIFICATE_ARN=
export AWS_ECR_REPO_ARN=
export AWS_FARGATE_CLUSTER_NAME=memories
export AWS_FARGATE_SERVICE_NAME=memories-graphql-server
export AWS_FARGATE_DESIRED_COUNT=1
export AWS_FARGATE_MIN_CAPACITY=1
export AWS_FARGATE_MAX_CAPACITY=1
export AWS_FARGATE_CPU=256
export AWS_FARGATE_MEMORY=512
export AWS_ROUTE53_DOMAIN=a4brd.tk
export AWS_ROUTE53_SUBDOMAIN=memories-server-test
export DOCKER_IMAGE_TAG=2e7c00260fd8fa6d18c985e927c62c6609d4f639
export DOCKER_CONTAINER_PORT=4000
export PROJECT=a4bird-memories-server
export ENVIRONMENT=Development
export ENV_SUFFIX=dev
export SLUG=test
export GIT_SHA=2e7c00260fd8fa6d18c985e927c62c6609d4f639
export GIT_SHA=4b362157dde47e69f5842feb0f21b8b727689510
export CONTAINER_JWT_SECRET=
export CONTAINER_APOLLO_INTROSPECTION_ENABLED=false
export CONTAINER_APOLLO_PLAYGROUND_ENABLED=false
export CONTAINER_APOLLO_REPORT_SCHEMA=true