export AWS_CDK_DEPLOY_ACCOUNT=989464300156
export AWS_CDK_DEPLOY_REGION=ap-southeast-2
export AWS_TAG_PROJECT=
export AWS_TAG_REPOSITORY=
export AWS_CDK_STACK_ID=
export AWS_CERTIFICATE_ARN=
export AWS_ECR_REPO_ARN=
export AWS_FARGATE_CLUSTER_NAME=
export AWS_FARGATE_SERVICE_NAME=
export AWS_FARGATE_DESIRED_COUNT=
export AWS_FARGATE_MIN_CAPACITY=
export AWS_FARGATE_MAX_CAPACITY=
export AWS_FARGATE_CPU=
export AWS_FARGATE_MEMORY=
export AWS_ROUTE53_DOMAIN=
export AWS_ROUTE53_SUBDOMAIN=
export DOCKER_IMAGE_TAG=
export DOCKER_CONTAINER_PORT=
export PROJECT=a4bird-memories-server
export ENVIRONMENT=Development
export ENV_SUFFIX=dev
export SLUG=test
export GIT_SHA=4891231
